@font-face {
  font-family: "Circular Std";
  src: url("CircularStd-Black.woff2") format("woff2"),
    url("CircularStd-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("CircularStd-Medium.woff2") format("woff2"),
    url("CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("CircularStd-Book.woff2") format("woff2"),
    url("CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("CircularStd-Bold.woff2") format("woff2"),
    url("CircularStd-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.centered-div {
  margin: auto;
}

.header-container {
  display: flex;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .centered-div {
    width: 100%;
  }
  .header-container {
    display: block;
    overflow: auto;
  }
  .mobile-menu {
    display: block;
    text-align: end;
  }
  .header-stretch {
    width: 46%;
    float: left;
    padding: 2%;
  }
  .drop-container div{
    position: static !important;
    width: auto !important;
  }
}